@model NorthWestOrderSystem.Models.AssayOrder

@{
    ViewBag.Title = "SingleOrder";
}

<h2>Status for Order #19320</h2>

<div>
    <hr />
    <h4>Details:</h4>
    <div class="table">
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Customer.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status.StatusDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status.StatusDescription)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PreliminaryCharge)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PreliminaryCharge)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FinalCharge)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FinalCharge)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstPayment)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstPayment)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SecondPayment)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SecondPayment)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DiscountPercentage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiscountPercentage)
                    </dd>

                    <dt>
                        <u>@Html.DisplayNameFor(model => model.Comments)</u>
                    </dt>

                    <dd>

                    </dd>

                </dl>
                <p><b>@Html.DisplayFor(model => model.Customer.FirstName):</b> When could you expect test 3 to be completed? <small><small>09-21-2018</small></small></p>
                <p><b>Mark:</b> It is expected that test 3 we begin on September 25th. <small><small>09-22-2018</small></small></p>
                <p><b>@Html.DisplayFor(model => model.Customer.FirstName):</b> Could you send me a verification email when you finish test 5? <small><small>09-30-2018</small></small></p>
                <p><b>Mark:</b> No problem. We will get that you to as soon as possible. <small><small>10-01-2018</small></small></p>
                <br />
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Reply..." class="form-control" />
                    </div>
                </form>
                <hr />
                <dl>
                    <dt>
                        Tests Completed
                    </dt>

                    <dd>
                        5
                    </dd>

                    <dt>
                        Total Tests
                    </dt>

                    <dd>
                        5
                    </dd>

                    <dt>
                        Results for Test 1
                    </dt>

                    <dd>
                        We found that...
                    </dd>

                    <dt>
                        Results for Test 2
                    </dt>

                    <dd>
                        We found that...
                    </dd>

                    <dt>
                        Results for Test 3
                    </dt>

                    <dd>
                        We found that...
                    </dd>

                    <dt>
                        Results for Test 4
                    </dt>

                    <dd>
                        We found that...
                    </dd>

                    <dt>
                        Results for Test 5
                    </dt>

                    <dd>
                        We found that...
                    </dd>

                    <dt>
                        Remaining Actions
                    </dt>

                    <dd>
                        None. All Tests Completed.
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/90test.png" style="width:100px; height:auto;" />
                <br />
                <p>View Detailed Test Results</p>
                @Html.ActionLink("Test Results", "SingleOrder2", "Customers", null, null)
                <br />
            </div>

        </div>
        <div>
            @Html.ActionLink("Continue", "Login")
        </div>
    </div>
</div>
    
