@model NorthWestOrderSystem.Models.Compound

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compound</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompoundName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompoundName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompoundStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompoundStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateArrived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateArrived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MolecularMass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MolecularMass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumToleratedDose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumToleratedDose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LTNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
