@model IEnumerable<NorthWestOrderSystem.Models.AssayOrder>

@{
    ViewBag.Title = "View Orders";
}

<h1 style="font-size:30px">Your Orders:</h1>
<hr />

<p>
    @Html.ActionLink("Add New Order", "Create", "AssayOrders", null, null)
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreliminaryCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreliminaryCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("View Order Status", "SingleOrder", "Customers", null, null)
        </td>
    </tr>
}

</table>
