@model IEnumerable<NorthWestOrderSystem.Models.AssayOrder>

@{
    ViewBag.Title = "ViewOrders";
}

<h2>ViewOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreliminaryCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreliminaryCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
