@model IEnumerable<NorthWestOrderSystem.Models.AssayType>

@{
    ViewBag.Title = "Assay Catalog";
}

<div style="text-align:center">
    <h2 style="font-size:30px">Assay Catalog</h2>
</div>
<hr />
<div class="row" style="text-align:center">
    <div class="col-md-4">
        <h3>Biochemical Pharmacology (BP)</h3>
        <br />
        <a href='@Url.Action("BiochemicalPharmocology", "AssayTypes")'><img class="photo" src="~/Content/Images/biochemicalPharmacology.jpg" style="width:90%" /></a>
    </div>
    <div class="col-md-4">
        <h3> DiscoveryScreen® (DS)</h3>
        <br />
        <a href='@Url.Action("Index", "Home")'><img class="photo" src="~/Content/Images/discoveryScreen.jpg" style="width:90%" /></a>
    </div>
    <div class="col-md-4">
        <h3>ImmunoScreen® (IS)</h3>
        <br />
        <a href='@Url.Action("Index", "Home")'><img class="photo" src="~/Content/Images/immunoScreen.jpg" style="width:90%" /></a>
    </div>
</div>
<br />
<div class="row" style="text-align:center">
    <div class="col-md-4">
        <h3>ProfilingScreen® (PF)</h3>
        <br />
        <a href='@Url.Action("Index", "Home")'><img class="photo" src="~/Content/Images/ProfilingScreen.jpg" style="width:90%" /></a>
    </div>
    <div class="col-md-4">
        <h3>PharmaScreen® (PS)</h3>
        <br />
        <a href='@Url.Action("Index", "Home")'><img class="photo" src="~/Content/Images/pharmaScreen.jpg" style="width:90%" /></a>
    </div>
    <div class="col-md-4">
        <h3>CustomScreen™ (CS)</h3>
        <br />
        <a href='@Url.Action("Index", "Home")'><img class="photo" src="~/Content/Images/customScreen.jpg" style="width:90%" /></a>
    </div>
</div>
<br />
<div class="row" style="text-align:center">
    <div class="col-md-4">
        <h3>Other</h3>
        <br />
        <a href='@Url.Action("Index", "Home")'><img class="photo" src="~/Content/Images/labStation-Other.jpg" style="width:90%" /></a>
    </div>
</div>
<hr />
<div>
    <a href='@Url.Action("Index", "Home")' class='btn btn-default btn-primary' style="margin-left:100px;">Home</a>
</div>


