@model IEnumerable<NorthWestOrderSystem.Models.Test>

@{
    ViewBag.Title = "Index";
}

<h2>All Active Tests</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concentration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TestType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concentration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TestID })
        </td>
    </tr>
}

</table>
